/* bootstrap */
@import url("../libs/bootstrap/css/bootstrap.min.css");
/* font */
@import url("../libs/fontawesome/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  color: #f60;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1194px !important;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
body {
  background-color: #f5f5f5;
}
.mg-t90 {
  margin-top: 90px;
}
.form-validator.invalid input {
  border: 1px solid red;
}
.form-validator input {
  margin-bottom: 5px;
}
.form-validator .form-message {
  color: red;
  margin-bottom: 10px;
}
.errors {
  color: red;
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
  background: #f3dac9;
  padding: 10px;
}
.successful {
  color: #1266dd;
  font-size: 18px;
  margin: 8px 15px;
  text-align: center;
  background: #edffe1;
  padding: 10px;
}
/*----------------------------------------------------------------------------*/
/*                                HEADER                                   */
/*----------------------------------------------------------------------------*/
#header {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
}
.header-top {
  height: 50px;
  background-color: #f5f5f5;
}
.logo {
  background: url(../image/assest/logo.png) center no-repeat;
  background-size: contain;
  text-indent: -9999999px;
  display: block;
  cursor: pointer;
}
.header-top .top-logo {
  width: 240px;
  height: 40px;
  margin: 5px 0;
  float: left;
}
.header-top .no-login {
  float: right;
  display: flex;
}
/*----------------------------------------------------------------------------*/
/*                                 LOGIN                                   */
/*----------------------------------------------------------------------------*/
.logged {
  height: 50px;
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.account .account-avt {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background: #eee;
  border: 1px solid #abaaaa;
}
.account .account-avt img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
}
.account-name {
  display: flex;
  min-height: 60px;
  align-content: center;
  align-items: center;
  margin: 0 14px;
  font-size: 16px;
}
.account .account-name ul {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3961fb;
  background: #3961fb;
  font-weight: 700;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 5px 0;
}
.btn-red {
  background: #f73859;
  border: 1px solid #f73859;
}
.btn i {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.no-login .btn {
  margin-left: 3px;
  border: 0;
}
.no-login .btn i,
.logged .btn i {
  background: url(../image/icon/add-while.png) center no-repeat;
  background-size: contain;
  margin-left: 5px;
}
.btn:hover {
  color: #ffffff;
  text-decoration: underline;
}
.btn-manage {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
  border: none;
  font-weight: 400;
  margin: 0 24px;
}
.btn-manage i {
  background: none;
  margin: 0 5px 0 0;
}
.btn-manage:hover span {
  text-decoration: underline;
}
.manage {
  position: relative;
}
.manage-menu {
  position: absolute;
  left: 25px;
  top: 39px;
  padding: 4px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  display: none;
}
.manage-menu.up {
  display: block;
  z-index: 100;
}

.manage-menu-item {
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}
.manage-menu-item i {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.manage-menu-item.add-post i {
  background: url(../image/icon/add-post.svg) center no-repeat;
  background-size: contain;
}
.manage-menu-item.manage-post i {
  background: url(../image/icon/manage-post.svg) center no-repeat;
  background-size: contain;
}
.manage-menu-item.payment i {
  background: url(../image/icon/payment.svg) center no-repeat;
  background-size: contain;
}
.manage-menu-item.payment-history i {
  background: url(../image/icon/payment-history.svg) center no-repeat;
  background-size: contain;
}
.manage-menu-item.manage-user i {
  background: url(../image/icon/user.svg) center no-repeat;
  background-size: contain;
}
.manage-menu-item.manage-logout i {
  background: url(../image/icon/logout.svg) center no-repeat;
  background-size: contain;
}

/*----------------------------------------------------------------------------*/
/*                               NOTIFICATION COMMENT - REPLY                             */
/*----------------------------------------------------------------------------*/

.tablinks {
  background-color: #f2f2f2;
  border: none;
  color: black;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 49%;
  height: 34px;
}

.active {
  background-color: #ccc;
}

.tablinks:hover {
  background-color: #f5f5f5;
  opacity: 0.7;
}
.tablinks.active {
  background-color: #fff;
  font-weight: bold;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  max-height: 445px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.header-notification {
  position: relative;
}
.header-notification .btn-noti {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.header-notification i {
  font-size: 24px;
  color: #1266dd;
}
.header-notification .noti-number {
  position: absolute;
  font-size: 12px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  font-weight: 700;
  border-radius: 50%;
  background: red;
  color: #ffffff;
  right: 0px;
  top: 1px;
  text-align: center;
}
.noti-menu {
  position: absolute;
  left: -165px;
  top: 46px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  width: 350px;
  display: none;
  min-height: 10px;
  max-height: 500px;
}
.noti-menu.up {
  display: block;
  z-index: 100;
}
.noti-menu li {
  background: #d4f1ff;
  border-radius: 5px;
  padding: 0 8px;
}
.noti-menu-item {
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 13px;
  color: #000;
}
.noti-menu-item .avatar {
  margin-right: 0;
}
.noti-menu-item .avata-img {
  margin-right: 0;
}
/*----------------------------------------------------------------------------*/
/*                                 bar menu                                   */
/*----------------------------------------------------------------------------*/
.header-navbar {
  background: #1266dd;
}
.navbar-menu {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.navbar-item {
  display: inline-block;
  list-style-type: none;
}
.navbar-item a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.navbar-item:hover a,
.navbar-menu a.active {
  background: #f73859;
}
/*----------------------------------------------------------------------------*/
/*                                 slider                                      */
/*----------------------------------------------------------------------------*/
#slider {
  margin-top: 50px;
  position: relative;
}
.image-slider {
}
.image-item {
  position: relative;
}
.image-item .image {
  height: 500px;
}
.image-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-item .slider-title {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.slider-title .title-image {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 17px;
}
.slider-title .content-image {
  font-size: 18px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  z-index: 10;
  font-size: 25px;
  background: none;
  border: none;
  color: #ccc;
}
.slick-prev {
  left: 0;
  margin-left: 2%;
}
.slick-next {
  right: 0;
  margin-right: 2%;
}
.slick-dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots button {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  font-size: 0;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}
/*----------------------------------------------------------------------------*/
/*                                 Main                                      */
/*----------------------------------------------------------------------------*/
.main {
}
#search {
  margin-top: 25px;
}
.search {
  background-color: #febb02;
  padding: 10px;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 5px;
}
.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  height: 35px;
  margin: 0 3px;
  background: #fff;
  justify-content: flex-start;
  align-items: center;
}
.search-item i {
  color: #ccc;
  margin-left: 5px;
}
.search-item input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #ffffff;
  background: #1266dd;
  border: none;
}

.search-item .autobox:focus-visible {
  outline: none;
}
.search-item .autobox {
  width: 100%;
  padding: 6px 0 6px 6px;
  overflow-y: auto;
  border: none;
  border-radius: 8px;
}
.search-item .autobox li {
  list-style: none;
  padding: 6px 0 6px 12px;
  cursor: pointer;
  /* display: none; */
}
.search-item .autobox li:hover {
  background-color: #ccc;
  color: #1266dd;
}
.search-item .autobox.active li {
  display: block;
}
.select2-container--default .select2-selection--single {
  border: none;
}
.search-item.checkbox {
  position: relative;
  cursor: pointer;
}
.search-item.checkbox::after {
  content: "\f0dd";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #888;
  position: absolute;
  right: 8px;
  top: 5px;
}
.search-item .autobox-ward {
  position: absolute;
  top: 34px;
  left: 16px;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 0;
  max-height: 230px;
  max-width: 172px;
  display: none;
}
.search-item .autobox-ward.active {
  display: block;
}
.search-item label {
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 0;
}
.search-item label input[type="checkbox"] {
  width: auto;
  margin: 0;
  margin-right: 10px;
  position: static;
}

/*----------------------------------------------------------------------------*/
/*                                 POST                                      */
/*----------------------------------------------------------------------------*/
.bookmark {
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  height: 30px;
  background: url(../image/icon/bookmark.png) left center repeat-x;
  background-size: 30px 30px;
  display: inline-block;
}
.star {
  width: 14px;
  height: 20px;
  background: url(../image/icon/star.png) left center repeat-x;
  background-size: 14px 14px;
  display: inline-block;
  margin-right: 3px;
  float: left;
}

.star.star-2 {
  width: 28px;
}
.star.star-3 {
  width: 42px;
}
.star.star-4 {
  width: 56px;
}
.star.star-5 {
  width: 70px;
}
.new-post-item .star {
  width: 12px;
  background-size: 12px 12px;
}
.new-post-item .star-2 {
  width: 24px;
}
.new-post-item .star-3 {
  width: 36px;
}
.new-post-item .star-4 {
  width: 49px;
}
.new-post-item .star-5 {
  width: 60px;
}

.section {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.section-header {
  padding: 20px;
  text-align: center;
}
.post_title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.post-listing .post-item {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  margin: 0;
}
.post-item .post-thumb {
  width: 190px;
  height: 230px;
  position: relative;
  overflow: initial;
  margin-left: 15px;
}
.post-thumb .clearfix {
  color: #1266dd;
  text-decoration: none;
}
.post-thumb .clearfix img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.post-meta {
  margin-left: 15px;
  margin-right: 15px;
  flex: 1;
  position: relative;
}
.post-meta .title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  white-space: normal;
  text-transform: uppercase;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-meta .title a {
  text-decoration: none;
  display: block;
  color: #055699;
}
.post-meta .title:hover a {
  text-decoration: underline;
}

.post-meta .detail {
  margin-bottom: 10px;
  line-height: 20px;
}
.detail .price {
  font-size: 16px;
  font-weight: 700;
  color: #1266dd;
}
.detail .area {
  font-weight: 700;
}
.detail .area {
  margin-left: 20px;
  color: #333;
}

.detail .post-location a {
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 250px;
  color: #333;
}
.post-meta i {
  margin-right: 6px;
}
.detail .post-time {
  float: right;
  color: #aaa;
  font-size: 14px;
}
.post-meta .content {
  margin-bottom: 15px;
  height: 60px;
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .post-summary {
  color: #787676;
  float: none;
}
.avatar {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: #8a8d91;
}
.avatar .avata-img {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-right: 11px;
}
.avata-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.avata-img > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #cccccc;
}
.avatar .check {
  margin-left: 5px;
  color: #28ad07;
}
/*----------------------------------------------------------------------------*/
/*                                  VIP                                      */
/*----------------------------------------------------------------------------*/
#post .vip-hot {
  border-color: #e13427;
  background-color: #ecfbe2;
}
#post .vip-1 {
  border-color: #ea2e9d;
  background-color: #fbfaf8;
}
#post .vip-2 {
  border-color: #f60;
}
#post .vip-3 {
  border-color: #007bff;
}

.vip-hot .post-thumb {
  width: 240px;
}
.vip-1 .post-thumb {
  width: 220px;
}
.vip-hot .post-meta .title a {
  color: #e13427;
}
.vip-1 .post-meta .title a {
  color: #ea2e9d;
}
.vip-2 .post-meta .title a {
  color: #f60;
}
.vip-3 .post-meta .title a {
  color: #007bff;
}

.contact .btn-quick-call,
.contact .btn-quick-zalo {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #1266dd;
  color: #1266dd;
  cursor: pointer;
  float: right;
}
.contact .btn-quick-call {
  background-color: #1266dd;
  color: #fff;
  margin-left: 10px;
}
/* post-normal */
.post-normal .title {
  text-transform: none;
}

/* detail news */
.content-news {
  line-height: 32px;
  word-spacing: 1px;
}
.content-news p {
  margin-top: 5px;
}
.content-news img {
  width: 100%;
}
.detail-info {
  margin: 15px 0;
  line-height: 40px;
}
/*----------------------------------------------------------------------------*/
/*                              category                                      */
/*----------------------------------------------------------------------------*/
.category {
  margin: 0 15px 15px;
}
.category > li {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #eee;
}
.category > li > h2 {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.category > li > h2 i {
  width: 15px;
  height: 15px;
  font-size: 15px;
  margin-right: 5px;
}
.category > li a {
  padding: 5px 0;
  color: #333;
  width: 100%;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
}
.category > li:hover a {
  cursor: pointer;
  color: #f60;
}
.category > li .count {
  color: #aaa;
  margin-left: 5px;
  float: right;
  font-size: 14px;
}

/*----------------------------------------------------------------------------*/
/*                               new post                                     */
/*----------------------------------------------------------------------------*/

.new-post-listing .new-post-item {
  margin: 0 12px;
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #eee !important;
  background-color: #fff !important;
}
.new-post-item .new-post-thumb {
  width: 90px;
  height: 110px;
}
.new-post-meta {
  margin-left: 10px;
  margin-right: 0px;
}
.new-post-meta .title {
  font-size: 14px;
  text-transform: none;
  margin-bottom: 6px;
}
.new-post-meta .title > a {
  padding: 0;
  color: #055699;
}
.new-post-meta .detail .price {
  font-size: 14px;
  color: #333;
}
.new-post-meta .detail .area {
  float: right;
}
.new-post-meta .detail .post-location {
  float: left;
  margin: 4px 0 0 0;
}
.new-post-meta .detail .post-time {
  float: right;
  margin: 4px 0 0 0;
}
/*----------------------------------------------------------------------------*/
/*                               section-why                                  */
/*----------------------------------------------------------------------------*/

.section-content {
  padding: 20px 50px 50px;
}
.why-content {
  text-align: center;
  border: 4px dashed #1266dd;
}
.section-content .section-title {
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0 12px;
  text-transform: uppercase;
}
.section-content p {
  font-size: 16px;
  margin-bottom: 15px;
}
.section-content .why-count {
  margin: 25px 0 40px;
  height: 65px;
}
.why-count .why-count-item {
  width: 25%;
  float: left;
  text-align: center;
}
.why-count .why-count-item .why-count-item-number {
  font-weight: 700;
  font-size: 30px;
  display: block;
  margin-bottom: 5px;
  color: #ff0000;
}
.why-count .why-count-item .why-count-item-text {
  font-size: 16px;
}
/*----------------------------------------------------------------------------*/
/*                           section support                                  */
/*----------------------------------------------------------------------------*/

.section-support {
  border: 4px dashed #ff0000;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
  text-align: center;
}
.section-support .support-bg {
  height: 150px;
  background: url(../image/support-bg.jpg) center no-repeat;
  background-size: contain;
  margin-bottom: 25px;
}
.section-support p {
  margin: 5px 0;
  font-size: 18px;
}
.section-why .btn,
.section-support .btn {
  margin-top: 15px;
  width: 140px;
}
/*----------------------------------------------------------------------------*/
/*                                 footer                                     */
/*----------------------------------------------------------------------------*/

#footer {
  height: 250px;
  border-top: 1px solid #ccc;
  background-color: #fff9f3;
}
.footer-cubes {
  margin: 20px 0;
}
.footer-cubes > p {
  font-size: 16px;
  margin-top: 15px;
}
.bottom-logo {
  width: 220px;
  height: 70px;
  margin: 0 auto;
}
.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.footer-category,
.footer-support {
  margin: 0;
}
.footer-cubes li {
  border-bottom: none;
  height: 28px;
}
.social-link {
  margin-bottom: 15px;
}
.social-link .facebook i {
  background-image: url(../image/icon/facebook.svg);
}
.social-link .instagram i {
  background-image: url(../image/icon/instagram.svg);
}
.social-link .zalo i {
  background-image: url(../image/icon/zalo.svg);
}
.social-link .phone i {
  background-image: url(../image/icon/phone.svg);
}
.social-link .facebook i,
.social-link .instagram i,
.social-link .zalo i,
.social-link .phone i {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.payment-icon-1 {
  background-image: url(../image/icon/payment-icon-1.jpg);
}
.payment-icon-2 {
  background-image: url(../image/icon/payment-icon-2.jpg);
}
.payment-icon-3 {
  background-image: url(../image/icon/payment-icon-3.jpg);
}
.payment-icon-1,
.payment-icon-2,
.payment-icon-3 {
  width: 88px;
  height: 26px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.copyright {
  height: 40px;
  background-color: #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-top: 15px;
}

#top-up {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  color: #f73859;
  bottom: 20px;
  right: 15px;
  display: none;
  transform: rotateZ(300deg);
  transition-duration: 0.4s;
}
#top-up:hover {
  color: #1266dd;
  transform: rotateZ(360deg);
  transition-duration: 0.4s;
}
/*----------------------------------------------------------------------------*/
/*                            article-details                                 */
/*----------------------------------------------------------------------------*/
#post .breadcrumb {
  padding-left: 0;
}
.breadcrumb a {
  font-size: 16px;
}
.slider-detail .slick-arrow {
  display: none !important;
}
.slider-detail .image-item-detail .image-detail {
  height: 370px;
}
.image-item .image-detail img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#article-detail {
  background-color: #f2f7ff;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
/* post-header */
.post-header {
  margin: 25px 0;
}
.page-title {
  font-weight: 700;
  margin: 0 0 5px;
}
.page-description {
  font-size: 16px;
}
/*----------------------------------------------------------------------------*/
/*                            location-city                                   */
/*----------------------------------------------------------------------------*/

.location-city {
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-city .location-item {
  display: inline-block;
  width: 210px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
  margin: 0 10px;
  text-decoration: none;
  background-color: #f1f1f1;
  height: 194px;
}
.location-city .location-item:hover {
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 5%);
  color: #f60;
}
.location-item .location-bg img {
  width: 100%;
  height: 150px;
}
.location-item .location-cat {
  padding: 12px 10px;
  display: block;
  font-weight: 700;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
/*----------------------------------------------------------------------------*/
/*                            post-list                                       */
/*----------------------------------------------------------------------------*/
#post .post-detail {
  background: none;
  border-color: unset;
  font-size: 16px;
}
.detail-info .post-meta .title {
  font-size: 25px;
  margin: 15px 0;
}
.star-detail {
  background-size: 20px 20px;
  height: 32px;
}
.star-detail.star-5 {
  width: 100px;
}
.star-detail.star-4 {
  width: 80px;
}
.star-detail.star-3 {
  width: 60px;
}
.star-detail.star-2 {
  width: 40px;
}
#article-detail .post-location {
  margin: 15px 0;
}

#article-detail .detail .price {
  font-size: 22px;
}
#article-detail .detail i {
  color: #ccc;
}
.mg-25 {
  margin-left: 25px;
}
.mg-0-15 {
  margin: 0 15px;
}
.pd-10-0 {
  padding: 10px 0;
}
.section-header .section-title {
  font-weight: 700;
  text-align: left;
  font-size: 24px;
}
.post-content .section-content {
  font-size: 16px;
  line-height: 1.8;
  margin: 15px 0;
}
.section-content td {
  border: none !important;
  padding: 10px !important;
}
.section-content .name {
  width: 25%;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
.section-note p {
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f3d8ca;
}
.btn-handling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/*----------------------------------------------------------------------------*/
/*                            section contact-info                            */
/*----------------------------------------------------------------------------*/

.contact-info {
}
.section-author {
  border: 1px solid #febb02;
  padding: 15px;
  border-radius: 5px;
  background-color: #febb02;
  height: 370px;
}
.author-avata {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}
.author-avata img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-fullname {
  margin: 15px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}
.author-phone {
  width: 100%;
  font-size: 25px;
}
.author-phone:hover {
  text-decoration: none;
  color: #f00;
  background: #fff;
}
.author-phone i {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  font-size: 20px;
}
.author-zalo {
  width: 100%;
  font-size: 22px;
  border: 1px solid #3961fb;
  background: linear-gradient(to right, #fff, #fff);
  color: #333;
  margin-bottom: 5px;
}
.author-zalo:hover {
  color: #1266dd;
  text-decoration: none;
}
/* contact */

.section-form {
  padding: 20px;
}
.section-form .section-header,
.contact-note .section-header {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-contact {
  margin-top: 15px;
}
.form-contact .contact-title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}
.form-contact input {
  font-size: 16px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline-color: #41ff00;
  margin: 8px 0 5px;
}
.form-contact select {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.form-contact textarea {
  width: 100%;
  border-color: #ccc;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline-color: #41ff00;
}
.form-contact .btn-contact {
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-contact .complete {
  font-size: 16px;
  font-weight: 700;
  margin: 12px;
  text-align: center;
  color: #0dd900;
}

.section-note-right {
  background-color: transparent;
  background-image: linear-gradient(145deg, #0039e4 0, #04dbf1 100%);
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
}
.contact-note {
  padding: 0 20px 20px 20px;
}
.contact-note .note-item {
  list-style-type: none;
}

/*----------------------------------------------------------------------------*/
/*                               LOGIN                                */
/*----------------------------------------------------------------------------*/
.section-login {
  padding: 30px 30px 60px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.section-login .section-header {
  padding: 0;
}
.section-login .section-header h2 {
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
}
.section-login .btn-login {
  margin: 18px 0;
}
.section-login .form-footer a {
  font-size: 16px;
}

.section-login .form-footer a:hover {
  color: #f60;
  text-decoration: underline;
  cursor: pointer;
}
/* bảng giá */
.section-introduce {
  text-align: left;
  border: 1px solid #ccc;
  padding: 50px;
}
.section-introduce p {
  font-size: 16px;
  margin-bottom: 15px;
}
.section-introduce .section-item {
  display: flex;
  align-items: flex-start;
}
.section-introduce .section-item img {
  margin-right: 5px;
}
.table-pricing .package {
  color: #fff;
  vertical-align: middle;
}
.table-pricing .package,
.table-pricing .content-item {
  width: 16.67%;
  border-left: 10px solid #fff !important;
  border-right: 10px solid #fff !important;
  border-bottom: 1px solid #eee !important;
}
.table-pricing .package p {
  float: none;
  display: block;
  margin: 0;
}
.table-pricing .package_vip1 {
  background-color: #e13427;
}
.table-pricing .package_vip2 {
  background-color: #ea2e9d;
}
.table-pricing .package_vip3 {
  background-color: #ff6600;
}
.table-pricing .package_vip4 {
  background-color: #007bff;
}
.table-pricing .package_vip5 {
  background-color: #055699;
}
.table-pricing .content-item {
  text-align: left;
  background-color: #f9f9f9;
}
.content-item .price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.content-item .minimum {
  font-size: 14px;
}
/* Phân trang */
.page-division {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.page-division .page-item {
  padding: 10px 16px;
  border: 1px solid #ccc;
  color: #000;
  margin-right: 5px;
}
.page-division .page-item.current_page {
  color: #fff;
  background-color: #1266dd;
}

/*----------------------------------------------------------------------------*/
/*                               COMMENT - REPLY                             */
/*----------------------------------------------------------------------------*/
.section-comment {
  margin: 15px;
}
#comments {
  overflow-y: scroll;
  min-height: 10px;
  max-height: 500px;
}
.section-comment .avata-img {
  width: 40px;
  height: 40px;
  margin-right: 0;
}
.section-comment .comment-input {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.section-comment .submit-comment {
  margin-left: 10px;
  /* height: 45px; */
}
.section-comment .submit-comment i {
  margin: 0;
  width: 100%;
  font-size: 24px;
  text-decoration: none;
  height: 60%;
}
.section-comment .submit-comment:hover {
  text-decoration: none;
}
#comment-message {
  color: red;
  margin: 0 0 15px 60px;
}

.comment-list {
  display: flex;
  align-items: center;
}
.comment-list .comment-content {
  background-color: #ffffff;
  padding: 6px 10px 6px 14px;
  border-radius: 20px;
}
.comment-content .full-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.comment-content .content {
  font-size: 16px;
  line-height: 25px;
}
.comment-act {
  margin: 5px 0 5px 60px;
}
.comment-act .reply-button,
.comment-act .delete-button,
.delete-button-reply,
.show-more {
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 11px;
  font-weight: 700;
  margin: 0 6px;
}
.comment-act .reply-button:hover,
.comment-act .delete-button:hover,
.delete-button-reply:hover,
.show-more:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment-act .post-time {
  color: #65676b;
}
#reply-form-message {
  color: red;
  margin-left: 52px;
}
.replies {
  margin-left: 60px;
  display: none;
}
.replies.add-display {
  display: block;
}
.reply {
  display: none;
}
.reply.show {
  display: block;
}
.total-reply {
  margin: 8px 0 8px 60px;
}
.total-reply.hidden {
  display: none;
}
.total-reply .fa-turn-up {
  transform: rotate(90deg);
}
/* Thiết lập thanh cuộn trên Chrome và Safari */
#comments::-webkit-scrollbar,
.tabcontent::-webkit-scrollbar {
  width: 8px;
}

#comments::-webkit-scrollbar-thumb,
.tabcontent::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
}

/* Thiết lập thanh cuộn trên Firefox */
#comments::-moz-scrollbar,
.tabcontent::-moz-scrollbar {
  width: 8px;
}

#comments::-moz-scrollbar-thumb,
.tabcontent::-moz-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
/*                               SECTION-SLICK                             */
/*----------------------------------------------------------------------------*/

.section-list-menu {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.section-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-menu-noti {
  display: flex;
  flex-direction: row;
}
.list-menu-item {
  margin: 0 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 0;
  text-decoration: none;
  color: #333;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}
.list-menu-item a {
  color: #000;
}
.list-menu-item:hover {
  background-color: #e7f0f7;
}
.list-menu-item.active a {
  text-decoration: underline;
  font-weight: 700;
}
.section-slick {
  padding: 20px;
  border-top: 1px solid #ccc;
}
.slick-item {
  width: 220px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 5px;
}
.item-detail-bg {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.item-detail-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.item-detail-bg .post-star {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 10;
}
.item-detail-bg .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(204 204 204 / 80%);
  padding: 5px;
  display: none;
  font-weight: 700;
  color: red;
}
.item-detail-bg:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}
.item-detail-bg:hover .detail {
  display: block;
}
.item-detail-content {
  padding: 10px;
}

.item-detail-content .detail {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.item-detail-content .detail .price {
  font-size: 14px;
}
.item-detail-content .detail .area {
  margin: 0;
}
.item-detail-content .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-detail-content .content {
  text-align: left;
  height: 60px;
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-detail-content .detail-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-left {
  margin-left: 1%;
  font-size: 18px;
}
.slick-right {
  margin-right: 1%;
  font-size: 18px;
}
.slick-left i,
.slick-right i {
  display: none;
}
.section-slick:hover .slick-left i,
.section-slick:hover .slick-right i {
  display: block;
}
.detail-name .check {
  color: #28ad07;
}

.post-listing-cheap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.post-listing-cheap .slick-item {
  margin: 10px 13px;
}

.section-slick-hot .slick-item {
  margin: 10px 5px;
}
.section-slick-hot {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px;
}
/* .slick-item-hot {
  display: none;
} */
.btn-read-more,
.btn-view-all {
  line-height: 40px;
  width: 50%;
  text-align: center;
  margin: 0 auto 15px;
}
.btn-read-more {
  display: block;
}
.btn-view-all {
  display: none;
}
