/* <!-- Thông báo thành công -->
    <?php if($ok == 1){ ?>
    <div class="noti">
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
            <div class="notification">
                <p>
                    Thành công
                </p>
            </div>
            <a href="./new-type.php" class="btn">OK</a>
        </div>
    </div>
    <?php }?>
    <!-- Thông báo thất bại -->
    <?php if($err == 1){ ?>
    <div class="noti">
        <div class="error-banmark">
            <div class="ban-icon">
                <span class="icon-line line-long-invert"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
            <div class="notification">
                <p>
                    Có lỗi xảy ra, vui lòng thử lại!
                </p>
            </div>
            <a href="./new-type.php" class="btn">OK</a>
        </div>
    </div>
    <?php }?> */

.noti {
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  grid-template-areas:
    "top-start top top-end"
    "center-start center center-end"
    "bottom-start bottom-center bottom-end";
  grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(
      min-content,
      auto
    );
  height: 100%;
  padding: 0.625em;
  overflow-x: hidden;
  transition: background-color 0.1s;
}

.success-checkmark,
.error-banmark {
  width: 380px;
  height: 230px;
  margin: 0 auto;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  background: #fff;
  padding: 25px;
  text-align: center;
}

.success-checkmark .check-icon,
.error-banmark .ban-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  margin: 0 auto;
}

.success-checkmark .check-icon {
  border: 4px solid #4caf50;
}

.error-banmark .ban-icon {
  border: 4px solid #af4c4c;
}

.success-checkmark .check-icon::before,
.error-banmark .ban-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after,
.error-banmark .ban-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after,
.error-banmark .ban-icon::before,
.error-banmark .ban-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line,
.error-banmark .ban-icon .icon-line {
  height: 5px;

  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.success-checkmark .check-icon .icon-line {
  background-color: #4caf50;
}

.error-banmark .ban-icon .icon-line {
  background-color: #af4c4c;
}

.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

.error-banmark .ban-icon .icon-line.line-long-invert {
  top: 39px;
  left: 8px;
  width: 60px;
  transform: rotate(45deg);
  animation: icon-line-long1 0.85s;
}

.error-banmark .ban-icon .icon-line.line-long {
  top: 39px;
  left: 8px;
  width: 60px;
  transform: rotate(-45deg);
  animation: icon-line-long1 0.85s;
}

.success-checkmark .check-icon .icon-circle,
.error-banmark .ban-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
}

.success-checkmark .check-icon .icon-circle {
  border: 4px solid rgba(76, 175, 80, 0.5);
}

.error-banmark .ban-icon .icon-circle {
  border: 4px solid rgba(175, 76, 76, 0.5);
}

.success-checkmark .check-icon .icon-fix,
.error-banmark .ban-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #fff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 39px;
  }
}

@keyframes icon-line-long1 {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 54px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 60px;
    left: 8px;
    top: 39px;
  }
}

.notification {
  margin-top: 15px;
  margin-bottom: 15px;
}
