/* bootstrap */
@import url("../libs/bootstrap/css/bootstrap.min.css");
/* font */
@import url("../libs/fontawesome/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MS Mincho";
}
a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1194px !important;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.boder-ra-5 {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-disabled {
  background-color: #e9ecef;
}
.form-focus:focus,
.input-content:focus {
  color: #495057;
  background-color: #fff;
  outline-color: #41ff00;
}
.btn {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3961fb;
  background: #3961fb;
  font-weight: 700;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 5px 0;
}
.btn:hover {
  color: #ffffff;
  text-decoration: underline;
}
.btn-submit:hover {
  text-decoration: none;
  background-color: #5572df;
}
.form-validator.invalid input,
.form-validator.invalid select {
  border: 1px solid red;
}

.form-validator .form-message {
  color: red;
  margin: 8px 0;
}
.errors {
  color: red;
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
  background: #f3dac9;
  padding: 10px;
}
.successful {
  color: #1266dd;
  font-size: 18px;
  margin: 8px 15px;
  text-align: center;
  background: #edffe1;
  padding: 10px;
}
/* ==================================== */
/* header */
#header {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  left: 0;
  background: #1266dd;
}
.header {
  display: flex;
  align-items: center;
}
.header-name {
  margin: 0 30px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.header-name:hover {
  color: #fff;
}
.navbar-menu {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navbar-item {
  display: inline-block;
  list-style-type: none;
}
.navbar-item a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.navbar-item:hover a {
  background: #f73859;
}
/* sidebar */
#sidebar {
  background: #eaecef;
  width: 230px;
  float: left;
  transition: max-height 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  max-height: 100%;
  bottom: 0;
  top: 40px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}
.account {
  position: relative;
  padding: 14px;
  margin-bottom: 14px;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ccc;
}
.account-avt {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background: #eee;
  border: 1px solid #abaaaa;
}
.account-avt img {
  border-radius: 50%;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  float: right;
}
.account-name {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 60px;
  margin-left: 70px;
}
.account-name .account-fullname {
  font-size: 18px;
  font-weight: 700;
}
.account-name .account-phone {
  font-size: 16px;
}
.account ul {
  clear: both;
  font-size: 16px;
  margin: 15px 0;
  line-height: 24px;
}
.account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-recharge {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  margin-right: 6px;
}
.account-btn .btn-recharge:hover {
  color: #212529;
  text-decoration: underline;
}
.btn-post {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 6px;
}
.btn-tick {
  color: #fff;
  border: 1px solid #007c04;
  background: #007c04;
  margin-left: 6px;
  cursor: auto;
}
.btn-tick:hover {
  text-decoration: none;
}
.account-btn .btn-post:hover {
  color: #fff;
  text-decoration: underline;
}
.sidebar-menu > .menu-item.active {
  background-color: #ffd43b;
}

.sidebar-menu > .menu-item > a {
  color: #000;
}
.sidebar-menu > .menu-item a {
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
}
.sidebar-menu .menu-item .icon {
  margin-right: 8px;
}
.sidebar-menu .menu-item .down {
  position: absolute;
  right: 15px;
  transition: transform 0.5s;
}
.sidebar-menu-mini {
  background-color: #fff;
}

#sidebar .menu-item-mini a {
  color: #001c40;
  padding: 12px 15px 12px 35px;
}
#sidebar .menu-item-mini:hover a {
  background-color: #efeded;
  padding-left: 45px;
}
.sidebar-menu-mini {
  display: none;
}
.menu-item.active .down {
  transform: rotate(180deg);
}

/* main-right */
#main-right {
  padding: 60px 24px 60px 250px;
}
#main-right .breadcrumb {
  background-color: #eaecef;
  padding: 10px 20px;
  margin-bottom: 0;
}
#main-right li,
#main-right a {
  font-size: 16px;
}
#main-right a:hover {
  text-decoration: underline;
}

/* ----- main-right - create-post */

.form-title {
  margin: 15px 0;
}
.form-title h1 {
  font-weight: 700;
}
.form-content {
  margin: 15px 0 25px;
}

.form-content h3 {
  font-size: 25px;
  font-weight: 700;
}
.form-note {
  background-color: #fff3cd;
  color: red;
  border-color: #fff3cd;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 18px;
}
.form-note h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.form-note ul li {
  list-style-type: square;
  margin-left: 15px;
}
.form-address {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-item .item-name,
.street-number .item-name,
.form-input .item-name,
.input-file .item-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.search-item .autobox {
  width: 200px;
  max-width: 100%;
  height: 38px;
  font-size: 16px;
  padding-left: 8px;
}
.select2-container .select2-selection--single,
.select2-container--default
  .select2-selection--single
  .select2-selection__clear,
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  height: 38px;
  line-height: 38px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 36px;
}
.search-item .down {
  background: url(../image/angle-down-solid.svg);
  width: 24px;
  height: 24px;
}
.street-number input,
.form-input input {
  font-size: 16px;
  height: 38px;
  padding-left: 8px;
  outline-color: #41ff00;
}
.form-input {
  margin: 15px 0 25px;
}
.input-content {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  outline-color: #41ff00;
}

.error {
  display: none;
  margin-bottom: 15px;
}
.input-detail {
  width: 25%;
  display: flex;
}
.input-detail input {
  border-radius: 5px 0 0 5px;
  border: none;
  border-right: 1px solid #ccc;
}
.input-detail span {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  z-index: -1;
  border-radius: 0 5px 5px 0;
}
/* .input-file {
  margin: 15px 0;
} */

.input-file .input-img {
  padding: 12px 18px;
  background: #00ad2d;
  border: 1px solid #00ad2d;
  position: relative;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  float: left;
  cursor: pointer;
  font-size: 18px;
}
.input-file .input-img i {
  margin-right: 5px;
}
.input-file .input-img .upload-img {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 0px;
  width: 100%;
}
#display-img,
#display-imgs {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#display-img img,
#display-imgs img {
  height: 200px;
  margin-right: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}

.form-times {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-times .form-input {
  margin-right: 120px;
}
/* post-manage  */
.main-right-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
#main-right .table-bordered th,
.table-bordered td {
  text-align: center;
  font-size: 14px;
}
.table-post-list td {
  vertical-align: middle !important;
  white-space: normal;
}
.main-right-table td .post_thumb {
  overflow: hidden;
  width: 120px;
  height: 85px;
  margin: 0 auto;
}
#main-right .main-right-table td .post-thumb .thumb-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-right-table .table-post-list {
  border-collapse: collapse;
}
.table-post-list .category {
  background-color: #dc3545;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff;
}
.table-post-list .title {
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  color: #1266dd;
}
.table-post-list .address {
  margin: 10px 0;
}
.table-post-list .btn-tool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table-post-list .btn-tool a {
  margin-left: 15px;
}
.table-post-list .btn-tool .btn-td {
  font-size: 16px !important;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 400;
  padding: 0 6px;
}
.table-post-list .btn-tool i {
  margin-right: 5px;
  font-size: 14px;
}
.table-post-list .post-price {
  color: #37a344;
}
/*post-payment */
.form-content h4 {
  margin-top: 15px;
}

.form-list h3 {
  margin-bottom: 15px;
}
.form-radio {
  line-height: 30px;
  font-size: 16px;
}
.form-radio img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 5px 0 10px 20px;
}
.text-copy {
  font-size: 20px;
  margin-top: 15px;
}
.text-copy input {
  width: 88%;
  border: none;
  color: red;
  background: none;
  font-weight: 700;
  outline: none;
  text-align: center;
}
.text-copy button {
  border: none;
  background: none;
  padding: 0 14px;
}
/* loaction-city */
.location-city {
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location-city .location-item,
.location-momo {
  display: inline-block;
  width: 210px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
  margin: 0 10px;
  text-decoration: none;
  background-color: #f1f1f1;
  height: 194px;
  border: 1px solid #ccc;
}

.location-city .location-item:hover {
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 5%);
  color: #f60;
  text-decoration: none !important;
}
.location-bg {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.location-item .location-bg img {
  width: 60%;
  height: 120px;
}
.location-item .location-cat,
.location-momo .location-cat {
  padding: 12px 10px;
  display: block;
  font-weight: 700;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.location-momo {
  height: auto;
  width: 320px;
  max-width: 320px;
}
.location-momo .location-bg img {
  width: 100%;
  height: 100%;
}

/* personal-page */
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
.user-avatar-upload-wrapper {
  width: 140px;
}
.user-avatar-preview {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fafafa;
}
/* form-act */
.form-act {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(33, 33, 45, 0.3);
  z-index: 999;
  display: none;
}
.form-act-edit {
  margin-top: 35px;
  padding: 20px;
  width: 810px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.form-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 12px;
}
.form-close i {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
.form-half {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form-half .form-contact {
  width: 48%;
}
.form-contact {
  margin-top: 10px;
}
.form-contact .contact-title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}
.form-contact input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline-color: #41ff00;
  margin: 4px 0 5px;
}
#js-remove-img {
  margin: 0 !important;
}
/* edit post */
.img-avatar {
  height: 120px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.img-avatar img {
  height: 100%;
  margin-right: 20px;
}
