/* bootstrap */
@import url("./libs/bootstrap/css/bootstrap.min.css");
/* font */
@import url("./libs/fontawesome/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MS Mincho";
}
a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  color: #f60;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1194px !important;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.btn {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3961fb;
  background: #3961fb;
  font-weight: 700;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 5px 0;
}
.dataTables_filter {
  margin-bottom: 10px;
}
.form-validator .form-message {
  color: red;
  margin-bottom: 10px;
  margin-top: 6px;
}
body {
  /* background-color: #f5f5f5; */
  height: 100%;
}
/* ==================================== */
/* header */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: #237269;
  z-index: 20;
}
.header-title {
  float: left;
  line-height: 50px;
  margin-left: 25px;
}
.header-title p {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.account {
  position: relative;
  display: flex;
  margin: 16px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.account-right {
  float: right;
  margin: 5px 110px 5px 0;
}
.account-avt {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-right: 15px;
}

.account-avt i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #cccccc;
}
.sidebar .account-avt i {
  font-size: 2.5em;
}
.infor-detail__avt .account-avt i {
  font-size: 4.5em;
}

.account-avt img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.account-name {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.account-name .down {
  position: absolute;
  top: 4px;
  right: -25px;
}

.account-menu {
  border: #fff;
  border-radius: 5px;
  background: #ccc;
  position: absolute;
  top: 37px;
  left: -15px;
  width: 150px;
  display: none;
}

.account-menu.hide {
  display: block;
  z-index: 100;
}

.account-menu::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid transparent;
  border-bottom: 10px solid #cccccc;
}

.account-menu ul {
  font-size: 14px;
  font-weight: 500;
}

.account-menu li {
  border-radius: 5px;
  padding: 12px 0 12px 12px;
}

.account-menu li:hover {
  background-color: #ffd43b;
}

.account-menu li a {
  color: #000;
  font-size: 18px;
}

/* sidebar */
#sidebar {
  background: #eaecef;
  width: 230px;
  float: left;
  transition: max-height 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  max-height: 100%;
  bottom: 0;
  top: 50px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}
.sidebar-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-title h1 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
}
.sidebar-menu > .menu-item.active {
  background-color: #ffd43b;
}

.sidebar-menu > .menu-item > a {
  color: #000;
}
.sidebar-menu > .menu-item a {
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
}
.sidebar-menu .menu-item .icon {
  margin-right: 8px;
}
.sidebar-menu .menu-item .down {
  position: absolute;
  right: 15px;
  transition: transform 0.5s;
}
.sidebar-menu-mini {
  background-color: #fff;
}

#sidebar .menu-item-mini a {
  color: #001c40;
  padding: 12px 15px 12px 35px;
}
#sidebar .menu-item-mini:hover a {
  background-color: #efeded;
  padding-left: 45px;
}
.sidebar-menu-mini {
  display: none;
}
.menu-item.active .down {
  transform: rotate(180deg);
}
/* footer */
#footer {
  background-color: #237269;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
}
.copyright {
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

/* ---- login ----- */
.body-login {
  background: url(../image/login-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  height: 100%;
  color: #fff;
  text-align: center;
}
.login-form {
  width: 380px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-title {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
.login-form .errors {
  margin-bottom: 10px;
  color: red;
}
.login {
  text-align: left;
}
.login .login-input {
  width: 100%;
  padding: 10px 8px 10px;
  font-size: 16px;
  background: rgb(255 255 255 / 80%);
  border: 2px solid #537b35;
  outline: none;
  margin-top: 5px;
  margin-bottom: 26px;
}
.login label {
  text-transform: uppercase;
}
.login-input:not(:placeholder-shown) + label,
.login-input:focus + label {
  top: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 5px;
}
.forgot-pass {
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
}
.login-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn input {
  font-size: 16px;
  padding: 10px 50px;
  background-color: #537b35;
  color: #fff;
  border: none;
  outline: none;
  float: none;
  text-transform: uppercase;
}
.login-btn input:hover {
  background-color: #fff;
  color: #537b35;
}
/* main-right */
#main-right {
  padding: 60px 24px 50px 245px;
}
#main-right .breadcrumb {
  background-color: #eaecef;
  padding: 10px 20px;
  margin-bottom: 0;
}
#main-right li,
#main-right a {
  font-size: 16px;
}
#main-right a:hover {
  text-decoration: underline;
}
.main-right-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.form-title {
  margin: 15px 0;
}
.form-title h1 {
  font-weight: 700;
}
.account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-post {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 6px;
}
/* dashboard */
.card {
  font-size: 18px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count-number {
  width: 35px;
  height: 35px;
  background: #fff;
  color: red;
  text-align: center;
  font-weight: 700;
  line-height: 35px;
  border-radius: 50%;
}
/* post-manage  */
.main-right-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
#main-right .table-bordered th,
.table-bordered td {
  text-align: center;
  font-size: 14px;
}
.main-right-table .table-post-list {
  border-collapse: collapse;
}
.table-post-list td {
  vertical-align: middle !important;
  white-space: normal;
}
.table-post-list .btn-setting {
  margin: 0 5px;
  font-size: 24px !important;
}
.table-post-list img {
  width: 270px;
  height: 150px;
  object-fit: cover;
}
.table-post-list .category {
  background-color: #dc3545;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff;
}
.table-post-list .title {
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  color: #1266dd;
}
.table-post-list .address {
  margin: 10px 0;
}
.table-post-list .btn-tool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table-post-list .btn-tool a {
  text-decoration: none !important;
  margin-left: 15px;
}
.hide-content {
  height: 135px;
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* form-act */
.form-act {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(33, 33, 45, 0.3);
  z-index: 999;
  display: none;
}
.form-act-edit {
  margin-top: 35px;
  padding: 20px;
  width: 810px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.form-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 12px;
}
.form-close i {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
.form-half {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form-half .form-contact {
  width: 48%;
}
.form-contact {
  margin-top: 10px;
}
.form-contact .contact-title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}
.form-contact input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline-color: #41ff00;
  margin: 4px 0 5px;
}
.form-contact select {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.form-contact textarea {
  width: 100%;
  border-color: #ccc;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline-color: #41ff00;
}
/* btn-upload img */
.input-file {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-file .input-img {
  padding: 12px 18px;
  height: 50px;
  background: #00ad2d;
  border: 1px solid #00ad2d;
  position: relative;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  float: left;
  cursor: pointer;
  font-size: 18px;
}
.input-file .input-img i {
  margin-right: 5px;
}
.input-file .input-img .upload-img {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 0px;
  width: 100%;
}

#display-img img,
.form-image-his img,
#display-img-Update img {
  width: 400px;
  height: 80px;
  margin-right: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}

#chart-month,
#chart-days,
#chart-payment {
  margin: 35px 20px;
}

/* Tin tá»©c */
.form-input .item-name,
.input-file .item-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.boder-ra-5 {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-note {
  background-color: #fff3cd;
  color: red;
  border-color: #fff3cd;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 18px;
}
.form-note h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.form-note ul li {
  list-style-type: square;
  margin-left: 15px;
}
.form-input input {
  font-size: 16px;
  height: 38px;
  padding-left: 8px;
  outline-color: #41ff00;
}
.form-input {
  margin: 15px 0 25px;
}
.input-content {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  outline-color: #41ff00;
}

.error {
  display: none;
  margin-bottom: 15px;
}
.input-detail {
  width: 25%;
  display: flex;
}
.input-detail input {
  border-radius: 5px 0 0 5px;
  border: none;
  border-right: 1px solid #ccc;
}
.input-detail span {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  z-index: -1;
  border-radius: 0 5px 5px 0;
}
.input-file.block {
  display: block;
}
.display-img-news img {
  width: 200px;
  height: 180px;
}
